<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统设置
            <small>角色管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统设置</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="名称/关键字" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新增</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="角色名称" align="center"></el-table-column>
                <el-table-column prop="keyword" label="角色关键字" align="center"></el-table-column>
                <el-table-column prop="description" label="角色描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增角色" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="名称">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="关键字">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>关键字</th>
                                            <th>权限描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="一级菜单" name="third" @click="findSecond()">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>名称</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in menuData1">
                                            <td>
                                                <input :id="c.id" v-model="firstIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="二级菜单" name="fourth">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>名称</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in menuData2">
                                            <td>
                                                <input :id="c.id" v-model="secondIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="名称">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="关键字">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>关键字</th>
                                            <th>权限描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="一级菜单" name="third" @click="findSecond()">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>名称</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in menuData1">
                                            <td>
                                                <input :id="c.id" v-model="firstIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="二级菜单" name="fourth">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>名称</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in menuData2">
                                            <td>
                                                <input :id="c.id" v-model="secondIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData: [],//新增和编辑表单中对应的权限列表数据
            menuData1: [],
            menuData2: [],
            permissionIds: [],//新增和编辑表单中权限对应的复选框，基于双向绑定可以进行回显和数据提交
            firstIds: [],
            secondIds:[],
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false//控制编辑窗口显示/隐藏
        },
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {
                console.log(JSON.stringify(this.permissionIds));
                console.log(JSON.stringify(this.formData));

                /*//发送请求后台更新
                axios.post('/role/update.do?permissionIds=' + this.permissionIds, this.formData).then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? "success" : "error"
                    });
                    if (res.data.flag) {
                        //关闭弹窗
                        this.dialogFormVisible4Edit = false;
                        //刷新列表
                        this.findPage();
                    }
                })*/
                //更新角色菜单信息
                axios.post("/role/updateNew.do?firstIds="+this.firstIds+"&secondIds="+this.secondIds+"&permissionIds="+this.permissionIds,this.formData).then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag?"success":"error"
                    });
                    if(res.data.flag){
                        //关闭弹窗
                        this.dialogFormVisible = false;
                        //刷新到分页查询页面
                        this.findPage();
                    }
                })

            },
            //添加
            handleAdd() {
                //向后端发送请求,包含角色信息和勾选的权限信息
                console.log(JSON.stringify(this.permissionIds));
                console.log(JSON.stringify(this.formData));

            /*    axios.post('/role/add.do?permissionIds=' + this.permissionIds, this.formData).then(res => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? "success" : "error"
                    });
                    if (res.data.flag) {
                        //关闭弹窗
                        this.dialogFormVisible = false;
                        //刷新到分页查询页面
                        this.findPage();
                    }
                })*/
                //添加角色菜单信息
                axios.post("/role/addNew.do?firstIds="+this.firstIds+"&secondIds="+this.secondIds+"&permissionIds="+this.permissionIds,this.formData).then(res => {
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag?"success":"error"
                        });
                        if(res.data.flag){
                            //关闭弹窗
                            this.dialogFormVisible = false;
                            //刷新到分页查询页面
                            this.findPage();
                        }
                })
            },
            //分页查询
            findPage() {
                console.log(JSON.stringify(this.pagination));
                //发送axios请求后端查询所有角色
                axios.post("/role/findPage.do", this.pagination).then(res => {
                    if (res.data.flag) {
                        this.dataList = res.data.data.rows;
                        this.pagination.total = res.data.data.total;
                        console.log(res.data);
                    }
                })
            },
            // 重置表单
            resetForm() {
                this.formData = {};
                this.activeName = 'first';
                //权限信息勾选内容清空
                this.permissionIds = [];
                this.firstIds = [];
                this.secondIds = [];

            },
            // 弹出添加窗口
            handleCreate() {
                //重置弹出框内容
                this.resetForm();
                //修改弹窗可见
                this.dialogFormVisible = true;
                //发送请求获得权限信息的内容回显到前端
                axios.get("/permission/findAll.do").then(res => {
                    if (res.data.flag) {
                        //绑定数据
                        this.tableData = res.data.data;
                        console.log(res.data);
                    }
                })
                axios.get("/menu/findFirstMenu.do").then(res => {
                    if (res.data.flag) {
                        //绑定数据
                        this.menuData1 = res.data.data;
                        console.log(res.data);

                    }
                })
                axios.get("/menu/findSecondMenu.do").then(res => {
                    if (res.data.flag) {
                        //绑定数据
                        this.menuData2 = res.data.data;
                        console.log(res.data);
                    }
                })

            },
            findSecond() {

            },
            // 弹出编辑窗口
            handleUpdate(row) {
                //重置表单
                this.resetForm();
                //显示编辑框
                this.dialogFormVisible4Edit = true;
                //发送请求回显数据
                console.log(JSON.stringify(row));
                axios.get("/role/findById.do?id=" + row.id).then(res => {
                    if (res.data.flag) {
                        //如果查询到该角色数据
                        this.formData = res.data.data;
                        //发送请求获取所有权限
                        axios.get("/permission/findAll.do").then(res1 => {
                            if (res1.data.flag) {
                                //如果查询到权限
                                this.tableData = res1.data.data;
                                //发送请求获取权限信息被勾选的选项

                                axios.get("/role/findRolePermissionIds.do?id=" + row.id).then(res2 => {
                                    if (res2.data.flag) {
                                        //如果查询到勾选的权限数据
                                        this.permissionIds = res2.data.data;
                                        //发送请求获取
                                    }
                                });
                            }
                        });

                        //查询所有的一级菜单
                        axios.get("/menu/findFirstMenu.do").then(res3 => {
                                if(res3.data.flag){
                                    this.menuData1 = res3.data.data;
                                    //发送请求获得菜单勾选项
                                    axios.get("/role/findRoleIds.do?id="+row.id).then(res4 => {
                                            if(res4.data.flag){
                                             this.firstIds=res4.data.data
                                            }
                                    })
                                }
                        })
                        //查询所有的二级菜单
                        axios.get("/menu/findSecondMenu.do").then(res5 => {
                            if(res5.data.flag){
                                this.menuData2 = res5.data.data;
                                console.log("menuData2"+res.data);
                                //发送请求获得菜单勾选项
                                axios.get("/role/findRoleIds.do?id="+row.id).then(res6 => {
                                    if(res6.data.flag){
                                        this.secondIds=res6.data.data
                                    }
                                })
                            }
                        })
                    }
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                //删除之前询问
                this.$confirm('此操作将永久删除该角色,是否继续', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //发送删除请求后端
                    console.log(JSON.stringify(row));
                 /*   axios.post("/role/deleteById.do?id=" + row.id).then(res => {
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? "success" : "error"
                        });

                        if (res.data.flag) {
                            //刷新列表
                            this.findPage();
                        }
                    })*/
                    axios.post("/role/deleteByIdNew.do?id=" + row.id).then(res => {
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? "success" : "error"
                        });

                        if (res.data.flag) {
                            //刷新列表
                            this.findPage();
                        }
                    })
                }).catch(() => {
                    this.$message.info('已取消操作')
                })
            }
        }
    })
</script>
</html>
