<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../elementUI/index.css">
    <!--先引入vue-->
    <script src="../elementUI/vue.js"></script>
    <script src="../elementUI/index.js"></script>
</head>
<body>
<div id="app">

    <el-col>

        <el-date-picker
                v-model="start"
                format="yyyy-MM"
                value-format="yyyy-MM"
                type="month"
                placeholder="选择报名开始日期"
                :picker-options="pickerOptionsStart"
                @change="TimeStart"
        >
        </el-date-picker>
        {{start}}
    </el-col>
    <el-col class="line" :span="2">-</el-col>
    <el-col>
        <span class="demonstration">截止月份</span>
        <el-date-picker
                v-model="end"
                format="yyyy-MM"
                value-format="yyyy-MM"
                type="month"
                placeholder="选择报名结束日期"
                :picker-options="pickerOptionsEnd"
                @change="TimeEnd"
        >
        </el-date-picker>
        {{end}}
    </el-col>


</div>
</body>
<script>
    var vue = new Vue({
        el: "#app",

        data: {
            start: "", // 开始时间
            end: "", // 结束时间
            pickerOptionsStart: {}, // 开始时间
            pickerOptionsEnd: {}, // 结束时间
        },
        mounted(){
            this.TimeStart(new Date())
        },
        methods: {
            TimeStart(date) {
                this.pickerOptionsStart = Object.assign({}, this.pickerOptionsStart, {
                    disabledDate(time) {
                        return time.getTime() > Date.now() - 8.64e7;
                    }
                })
                this.end = ''; // 结束时间至空
                // 将选择的时间转为时间戳
                const date1 = Date.parse(new Date(date));
                this.pickerOptionsEnd = Object.assign({}, this.pickerOptionsEnd, {
                    disabledDate(time) {
                        return time.getTime() < date1 || time.getTime() > Date.now();
                    }
                })
            },

        }

    })
</script>
</html>