<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	   http://www.springframework.org/schema/task
	   http://www.springframework.org/schema/task/spring-task.xsd">

<!--指定应用名称-->
    <dubbo:application name="health_job"/>
    <!--指定注册中心地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--开启dubbo扫描注解包-->
    <dubbo:annotation package="com.jd.health.job"/>

    <!--检查服务提供者是否提供-->
    <dubbo:consumer check="false" timeout="60000"/>
    <!-- 注解支持   -->
    <task:annotation-driven/>
    <!-- scheduler -->
    <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler"/>
    <!--导入redis配置-->
    <import resource="classpath:spring-jedis.xml"/>
    <!--导入freemaker-->
    <import resource="classpath:spring-freemarker.xml"/>
</beans>