<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
<!--应用名称-->
    <dubbo:application name="dubbo_consumer"/>
<!-- 注册中心   -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:annotation package="com.itheima.controller"/>
    <!-- 检查是否有服务提供者，如果没有则启动报错
        check="true" 上线时，在产线上布署时
        开发时可以为false
    -->
    <dubbo:consumer check="true" timeout="1000" retries="1" />
</beans>